/*-------------------Universal Styles-------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 800;
  color: white;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  color: black;
  text-transform: uppercase;
}

/*-------------------Header Styles-------------------*/
header {
  width: 100%;
  height: 80px;
  top: 0px;
  background: white;
  position: fixed;
  box-shadow: 1px 0px 2px #333333;
  z-index: 1000;
}

nav {
  margin: 15px 0px;
}

header img {
  height: 60px;
  margin: 10px 50px 10px 100px;
  float: left;
}

ul{
  display: inline-block;
}

header nav ul li {
    display: inline;
}

header a {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin: 0px 20px;
  cursor: pointer;
}

header a:hover {
  color: #FFE81F;
}


/*-------------------Hero Styles-------------------*/
.hero {
  background: url('../images/sw-hero-1.jpg') center/cover no-repeat;
  height: 100vh;
  max-width: 100%;
}

.hero-content{
  padding: 625px 0px 0px 200px;
}

.hero h1 {
  text-transform: uppercase;
  text-shadow: 1px 1px 4px black;
}

.hero p {
  font-size: 24px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px black;
}

.galaxy {
  color: #FFE81F;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 5px;
}
/*-------------------Shop Styles-------------------*/
.shop {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.shop-content {
  text-align: center;
  padding-top: 100px;
  z-index: 99
}

.shop-heading p {
  margin-bottom: 60px;
}

.shop-heading a {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 30px;
  background: #FFE81F;
  transition: .3s;
}

.shop-heading a:hover {
  color: white;
  background: black;
  transition: .3s;
}

.sw-ship {
  position: absolute;
  margin: 60px 0;
  height: 150px;
  opacity: .25;
  z-index: 100;
  animation: fly 10s forwards infinite linear
}

.shop-item {
  width: 20%;
  display: inline-block;
  margin-top: 50px;
  z-index: 2;
}
.shop-item img {
    width: 100%;
}


/*-------------------Films Styles-------------------*/
.films {
    height: 100vh;
}

.films
.light-saber {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

.films-info {
  height: 100%;
  width: 50%;
  background: #FFE81F;
}

.films-content {
  padding: 300px 0px 0px 100px;
}

.films-content h2 {
  font-size: 50px;
  font-weight: 800;
  color: black;
  text-transform: uppercase;
}

.films-content p {
  font-size: 24px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  padding-top: 50px;
}

.classics {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.films-content a {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 25px;
  padding: 10px 30px;
  margin-top: 50px;
  transition: .3s
}

.films-content a:hover {
  background-color: black;
  border: 3px solid black;
  transition: .3s
}





/*-------------------Animations-------------------*/

@keyframes fly {
  from {
    transform: translateX(-600px);
  }
  to {
    transform: translateX(1800px);
  }
}
